body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

.menu {
  display: flex;

  width: max-content;

  background-color: #fafafa;
}
.TitleAndAnchor {
  padding-right: 10px;
}
.TitleList {
  list-style: none;
}

.TitleList__CheckSqure {
  width: 10px;
  height: 10px;
  background-image: url("./arrow black.svg");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.TitleList__CheckSqure__Rotate {
  width: 10px;
  height: 10px;
  background-image: url("./arrow black.svg");
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.TitleList__header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Anchor {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.TitleList__item {
  cursor: pointer;
}

.anchors {
  display: flex;
  flex-direction: column;
}

/* .TitleList__item:hover {
  background-color: rgb(158, 151, 151);
}
 */
