body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  border: 1px solid black;
  width: 50%;
}

.TitleList {
  list-style: none;
}

.TitleList__CheckSqure {
  width: 10px;
  height: 10px;
  background-color: brown;
}

.TitleList__header {
  display: flex;
  align-items: center;
}

.TitleList__item {
  cursor: pointer;
}

.TitleList__item:focus {
  font-weight: bolder;
}

.TitleList__item:hover {
  background-color: rgb(158, 151, 151);
}
