body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  width: max-content;
  background-color: #fafafa;
}

.TitleList {
  list-style: none;
  padding-left: 0;
  /*  overflow: hidden;
  transition: max-height 0.3s ease-in-out; */
}

.TitleList__CheckSqure {
  width: 10px;
  height: 10px;
  background-image: url("./arrow black.svg");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.TitleList__CheckSqure__Rotate {
  width: 10px;
  height: 10px;
  background-image: url("./arrow black.svg");
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.TitleList__header {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding-left: 10px;
  line-height: 35px;
}
.Anchor {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.TitleAndAnchor {
  display: flex;
  flex-direction: column;
}
.TitleList__item {
  cursor: pointer;
}

.anchors {
  display: flex;
  flex-direction: column;
}

.TitleOnly {
  color: black;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
}
/* .TitleOnly:focus {
  font-weight: bold;
  outline: none;
} */
.TitleOnlyBold {
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
}
.name {
  height: 20px;
}
.wrap {
  display: flex;
  width: 600px;
}
.searchButton {
  height: 20px;
}
